[package]
name = "alkahest-session"
description = "Alkahest Session Management"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
repository = { workspace = true }
license-file = { workspace = true }

[dependencies]
