name: Nightly Release

on:
    schedule:
        - cron: '0 0 * * '
    workflow_dispatch:
        
jobs:
    nightly:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4