name: Nightly Build (Rust/Cargo)

on:
    schedule:
        - cron: '0 0 * * ' # Exécution à minuit tous les jours
    workflow_dispatch: # Permet de le lancer manuellement

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
              with:
                  ref: nightly

            - name: Install Rust toolchain
              uses: dtolnay/rust-toolchain@stable

            - name: Build Project (Release mode)
              run: cargo build --release

            - name: Update Nightly Release
              uses: softprops/action-gh-release@v1
              with:
                  tag_name: nightly
                  name: "Nightly Development Build"
                  body: "Compilation automatic de la branche"
